#footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #424242;
    position:fixed;
    bottom:0;
    height: 10vh;
    width:100%;
    font-size:8px;
}
.footerTop{
    display:flex;
    justify-content: space-evenly;
    min-width: 70%;
}