.home_main{
    color:white;
    position: relative;
    margin-top:10vh;
}

.home_main_header{
    font-size: 40px;
}


/* under 600px width*/
@media only screen and (max-width:600px){
    #home_main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home_main_header{
        width: 70%;
    }
}